/* section des filtres */

.filtres-container {
  margin-bottom: 4.6em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filtres {
  display: flex;
}

.colonne {
  font-family: "Poppins";
}

#format-select,
#categories-select,
#date-select {
  width: 260px;
  height: 42px;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 8px;
  font-weight: 500;
  padding: 8px;
}

.filtres-cat {
  padding-right: 10px;
}

/* section galerie photos */
section.galerie {
  margin: 50px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  padding: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

/*.image-gallery .gallery-photo {
  padding: 10px;
}*/
.image-gallery .size-img img.img-hover {
  object-fit: cover;
  width: 563px;
  height: 495px;
}
.gallery-hover-icon {
  display: block;
}

img.icon-fullscreen {
  width: 30px;
  height: 30px;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/* bouton "charger plus" */
a#load-more {
  width: 272px;
  height: 50px;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  align-items: center;
}

@media screen and (max-width: 390px) {
  .image-gallery {
    /*margin: 0;*/
  }
  section.galerie {
    margin-left: 0px;
    margin-right: 0px;
  }
  section.image-gallery .size-img img.img-hover {
    width: 318px;
    height: 278px;
  }
  .filtres-container {
    position: relative;
  }
  .filtres {
    flex-direction: column;
  }
  .filtre-tri {
    position: absolute;
    left: 52px;
    top: 85px;
  }
}
