.header-container {
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
}

header {
  margin: 0;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.09);
}

.logo {
  object-fit: contain;
  width: 216px;
  height: 14px;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-item {
  font-family: "space-mono";
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-item {
  padding-left: 2.8em;
}

.menu-item:hover {
  transform: scale(1.2);
}

#myBtn {
  margin: auto;
}

.navbar-links {
  cursor: pointer;
}

/* intégration du menu burger mobile */
.menu-mobile {
  display: none;
}

.open_nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.open {
  display: block;
}

.open_nav {
  background-color: #e00000;
  position: absolute;
  top: 133px;
  height: 115vw;
  width: 78vw;
  padding-top: 40px;
  z-index: 100;
}

.navbar-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-burger .nav-link {
  font-size: 1.43em;
  padding-bottom: 50px;
}

.menu-toggle {
  position: absolute;
  right: 10%;
  top: 76px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icons {
  display: none;
}

/* Animation à l'ouverture du menu burger */
.open_nav.open {
  animation: slide-down 1s ease;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Resposive tablette et mobile*/

@media screen and (max-width: 992px) {
  .menu-mobile {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .navbar {
    flex-direction: column;
    line-height: 65px;
  }
  .navbar .menu-item {
    padding: 0;
    margin: 0;
  }
  .navbar .menu-item a {
    font-size: 44px;
    color: white;
  }
  .open_nav {
    width: 100%;
    top: 120px;
  }
  .navbar {
    line-height: 100px;
  }
  .menu-menu-principal-container {
    margin-top: 30%;
  }
  .icons {
    display: block;
  }
  .icons::before {
    content: "\2630";
    font-size: 2.6em;
    top: -22px;
    position: relative;
  }
  .closing .icons::before {
    content: "\2715";
  }
}

@media screen and (max-width: 390px) {
  .logo {
    width: 134px;
    height: 9px;
  }
  .header {
    width: 375px;
    height: 72px;
  }
  .header-container {
    margin-left: 31px;
  }
  .navbar {
    margin-top: 50%;
  }
  .open_nav {
    height: 100vh;
    width: 100%;
    top: 124px;
  }
  .icons::before {
    font-size: 1.6em;
    top: 0;
    left: 4px;
  }
}
