.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-container {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
}

header {
  margin: 0;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.09);
}

.logo {
  object-fit: contain;
}

.menu-item {
  font-family: "space-mono";
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-item {
  padding-left: 2.8em;
}

.menu-item:hover {
  transform: scale(1.2);
}

.navbar-links {
  cursor: pointer;
}
