#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  animation: slide-down 1s ease;
}

.lightbox-content {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.lightbox-content img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.lightbox-close-btn {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 4em;
  color: #ffffff;
  cursor: pointer;
}

.lightbox-close-btn span {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
}

.lightbox-next-btn,
.lightbox-prev-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.lightbox-close-btn img {
  margin-right: 10px;
}

.lightbox-prev-btn {
  left: 100px;
}

.lightbox-next-btn {
  right: 160px;
}

.lightbox-next-btn span {
  margin-right: 14px;
}

.lightbox-prev-btn img,
.lightbox-next-btn img {
  width: 100%;
  height: 100%;
  margin-right: 14px;
}

.lightbox-next-btn span,
.lightbox-prev-btn span {
  font-weight: 400;
  width: 74px;
  height: 18px;
  font-size: 12px;
  align-items: center;
  display: flex;
}

/** *Hover icones ***/
.gallery-item {
  padding: 10px;
  position: relative;
}

.eye-photo a {
  display: flex;
  color: white;
  width: 46px;
  height: 31px;
  position: absolute;
  top: 215px;
  right: 223px;
  opacity: 0;
  align-items: center;
}

/* Ajout d'une règle pour le fond au survol de la photo */
.gallery-item:hover .eye-photo a {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transform: translateX(-50%);
  z-index: 999;
}

.gallery-hover-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .gallery-hover-icons {
  opacity: 1;
}

.icon-fullscreen {
  position: absolute;
  top: 24px;
  right: 24px;
}

.icon-oeil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-info {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 14px;
  display: flex;
  gap: 200px;
  width: 94%;
  justify-content: space-between;
}

.gallery-cat a {
  color: white;
}
.icon-oeil img {
  width: 46px;
  height: 31px;
  background-color: transparent;
}

/*.gallery-item:hover {
  background-color: rgba(0, 0, 0, 0.8);
}*/
@media screen and (max-width: 390px) {
  .lightbox-next-btn,
  .lightbox-prev-btn {
    top: 68%;
  }
  .lightbox-prev-btn {
    left: 28px;
  }
  .lightbox-next-btn {
    right: 94px;
  }
}
