.photo-container {
  display: flex;
  justify-content: space-evenly;
  margin: 34px 101px;
}

/*.gallery-photo {
  width: 50%;
}*/

/*.gallery-hover-icon {
  display: none;
}*/
.info {
  width: 70%;
  height: 321px;
  /* margin: 177px 0 -65px 5px; */
  /* margin-top: 173px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*img.icon-oeil {
  background: black;
}*/
/*.part {
  flex: 1;
}*/

h2.photo-titre {
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 0;
}

.part li a {
  text-transform: uppercase;
}

.info-text {
  margin: 4px 0px;
}

.photo-titre {
  font-family: "space-mono-italic";
  font-style: italic;
  font-size: 4.1em;
  font-weight: 400;
  line-height: 58px;
  padding-bottom: 20px;
}

.photo-info {
  font-family: "space-mono";
  font-size: 0.87em;
  letter-spacing: 0.1em;
  line-height: 21px;
  width: 62%;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid;
  margin-right: 10px;
  margin-bottom: 27px;
}

.photo-container .size-img img.img-hover {
  object-fit: cover;
  width: 563px;
  height: 844px;
}

.info-photo .photo-single:first-child {
  height: 69vw;
  min-height: 360px;
  position: relative;
  display: inline-block;
}

.interested-photo {
  margin-left: 8%;
  /*ajout miniature photo*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 101px;
  border-bottom: 1px solid;
}

.interested-photo-text-button {
  display: flex;
  align-items: center;
  /*ajout miniature photo*/
  /*padding-left: 3%;*/
  padding-bottom: 48px;
}

button.button.modal-js {
  width: 272px;
  height: 50px;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  align-items: center;
  margin-left: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.btn-container a {
  width: 272px;
  height: 50px;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .photo-container {
    flex-direction: column;
  }
  .photo-info {
    order: 2;
    width: 100%;
  }
  .photo-container .size-img img.img-hover {
    width: 100%;
    height: 60vh;
  }
  .gallery-photo {
    width: 100%;
  }
  .info {
    margin-top: 0;
  }
  .photo-titre {
    font-size: 2.5em;
    font-style: italic;
    /* height: 46px;*/
  }
  .interested-photo-text-button {
    flex-direction: column;
  }
}

/*** photos apparentées ***/

.related-photos {
  display: flex;
  margin: 40px 40px;
  align-items: center;
  justify-content: center;
}

.related-container {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.related-container .img-slide {
  width: 564px;
  height: 495px;
}

.related-title {
  /* display: flex; */
  /* margin: 10px 40px; */
  margin: 40px 101px;
}

h3.related-titre {
  font-size: 18px;
  font-family: "space-mono";
  font-weight: 400;
}
@media screen and (max-width: 680px) {
  /* .photo-info {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }*/

  .info {
    margin-left: 3%;
    border: none;
  }

  .photo-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .photo-container .size-img img.img-hover {
    height: 397px;
  }
  .photo-container {
    margin: 22px 41px;
  }
  .info {
    margin-left: 0;
    padding-bottom: 26%;
    width: 100%;
  }
  .photo-titre {
    line-height: 46px;
  }
  /*h2.photo-titre {
    /*padding-bottom: 49px;
  }*/

  .photo-info {
    border: none;
  }
  .interested-photo {
    margin-left: 3%;
    display: flex;
    margin: 44px -3px;
    /* margin: 22px; */
    border-top: 1px solid;
  }
  .interested-photo-text-button {
    align-items: baseline;
    padding-left: 9%;
  }
  .related-photos {
    flex-direction: column;
    margin: 2px;
  }
  .related-title {
    margin: 33px 73px;
    letter-spacing: 2px;
  }
}
