.photo-container {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 101px;
}
.gallery-photo {
  width: 50%;
}

.gallery-hover-icon {
  display: none;
}
.info {
  min-width: 420px;
  height: 321px;
  margin: 173px 0 18px 0;
}

.part {
  flex: 1;
}

.info-tx {
  margin: 4px 0px;
}

.photo-titre {
  font-family: "space-mono-italic";
  font-size: 4.1em;
  font-weight: 400;
  line-height: 58px;
  padding-bottom: 20px;
}

.photo-info {
  font-family: "space-mono";
  font-size: 0.87em;
  letter-spacing: 0.1em;
  line-height: 21px;
  width: 50%;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid;
  margin-right: 10px;
  margin-bottom: 5px;
}

.img-hover {
  object-fit: cover;
  width: 100%;
  height: 844px;
}

.info-photo .photo-single:first-child {
  height: 69vw;
  min-height: 360px;
  position: relative;
  display: inline-block;
}

@media all and (max-width: 680px) {
  .photo-info {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .info {
    margin-left: 3%;
    border: none;
  }

  .photo-container {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 480px) {
  .info {
    margin-right: 0;
  }
}
