/*Slide*/

/*miniature slide*/
.gallery-slide {
  display: flex;
  width: 100px;
  /*margin-right: 1%;*/
  flex-direction: column;
  align-items: center;
}

.gallery-slide .img-slide {
  /*miniature photo*/
  width: 81px;
  height: 71px;
}

.gallery-navigation {
  gap: 34px;
  display: flex;
}
/*arrows slide*/
img#prevBtn,
#nextBtn {
  width: 25px;
}
@media screen and (max-width: 768px) {
  .gallery-slide {
    display: none;
  }
}
